/*MENU TRANSPARENTE*/

body{
    background: url(../fotos/pontadosganchos-2.png) no-repeat;
    background-size:cover;
    font-family: Arial;
    width: 99.38%
}
/*.tudo{
    width: 100%;
    height: 567px;
}*/
input#login,input#cads{
    top:10px;
    position: relative;
    left:77%;
    width:10%;
    color:white;
    background-color: #5f5f5f;
    border:none;
    box-shadow: 0px 1px 3px black;
    font-family:cursive;
    font-size: 16px;
}
input#login{
    position:relative;
    left:input#cads.left +100px;
    top:input#cads.top;
}
nav{
    position:relative;
    top:-9px;
    left:-9px;
    width:100.7%;
    height: 100px;
    background-color:#ffc300;
    box-shadow: 1px 0px 12px black;
    z-index: 10;
}
div#menu{
    position: relative;
    width:60%;
    top:10px;
    left:24%;
}
ul{
    /*Essa ul está fazendo a pagina ficar maior do que deveria*/
    margin:0px;
    padding:0px;
    list-style:none;
    list-style-type: none;
}
ul li{
    position: relative;
    float: left;
    width:20%;
    height:40px;
    background-color:black;
    color:white;
    opacity:0.8;
    line-height:40px;
    text-align: center;
    font-size: 20px;
    margin:3px;
    display: inline-block;
    font-family: TheLightFont;
    font-weight: 700;
}
ul li a {
    text-decoration: none;
    color:white;
    display:block;
    margin:0px;
}
ul li:hover{
    background-color:#FF5733;
    -moz-box-shadow:0 3px 10px 0 #CCC; 
    -webkit-box-shadow:0 3px 10px 0 #ccc; 
    text-shadow:0px 0px 5px #fff;
    margin:0px;
}
ul li ul{
    position: relative;
    widows: 100%;
    display:none;
    background-color:#ffe488;
    margin:0px; 
}
ul li:hover ul, ul li:hover ul {display:block;
    margin:0px;}
ul ul li{
    display: block;
    margin:0px;
}

ul li ul li {
    border:1px solid #c0c0c0;
    display:block;
    width:95.9%;margin:0px;
    font-family: TheLightFont;
    font-weight: 100;
}

@font-face{
    font-family:"TheLightFont";
    src:url(../fontes/TheLightFont.otf);
}
div#pesquisa{
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    top:40px;
    left:22%;
    padding: 20px;
    background-color: rgba(255, 195, 0, 0.62);
    border-radius: 10px;
}
input#HotelNome{
    position: relative;
    width: 80%;
    line-height: 41px;
    margin-bottom: 10px;
}
div table#categorias{
    position: relative;
    float: left;
    width: auto;
    margin-right: 30px;
    left: 50px;
}
div table#categoria{
    position: relative;
    float: left;
    width: auto;
    margin-right: 30px;
    left: 50px;
}
input#btnBuscar{
    background-color:rgb(51,39,0);
    border: none;
    color:rgb(255,243,204);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*div#opcoes{
    position: relative;
    top: 100px;
    width: 90%;
    height: 200px;
    background-color: aqua;
}*/
div#listagem{
    border: ridge 1px rgba(0, 0, 0, 0.6);
    align-content: center;
    letter-spacing: 0px;
    line-height: 0px;
    position: relative;
    width: 400px;
    height: 500px;
    float: left;    
    margin:10px;
    border-radius: 7%;  
    box-shadow: 0px 1px 10px black;
    background-color:rgb(196, 201, 209,0.6)
}
a{
    text-decoration: none;
}
p#listagemHotelNome{
    text-shadow: 0px 0px 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-style: oblique;
    -moz-font-feature-settings: "liga";
    font-weight: 1d00;
}
img#listagemFoto{
    border:solid 1px black;
    border-radius: 1%;
    image-rendering: optimizeQuality;
}
p#listagemCat{
    font-family: monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: bolder;
}
div#container-content{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
div#container{
    position: absolute;
    width:70%;
    left:14%;
    top:35%;
}
div#cadastro{
    position:relative;
    width: 45%;
    height: auto;
    left: 25%;
    top: 6px;
    background-color: rgba(255, 226, 65, 0.6);
    padding: 35px;
    border-radius: 15px;
    padding-bottom: 60px;
}
div#login{
    position:relative;
    width: 45%;
    height: auto;
    left: 25%;
    top: 90px;
    background-color: rgba(255, 226, 65, 0.6);
    padding: 35px;
    border-radius: 15px;
    padding-bottom: 60px;
}
input#botoes{
    position: relative;
    float:right;
    margin-right: 15px;
     width:20%;
    height:40px;
    background-color:black;
    color:white;
    opacity:0.8;
    text-align: center;
    font-size: 20px;
    margin:3px;
    font-family: TheLightFont;
    font-weight: 700;
    margin-top: 10px;
}
#quadroHoteis{
    width: 60em;
    height: auto;
    position: absolute;
    background-color: rgba(255, 226, 65, 0.6);
    left:13.5%;
    padding: 1em;
    border-radius: 10px 10px 0 0;
}
div#quadroHoteis img{
    width: 15em;
    position: relative;
    float: left;
}
#nomeHotel{
    position: relative;
    float: left;
    left: 8em;
    font-style: oblique
}
#enderecoHotel{
    position: relative;
    float: left;
    top:3em;
    left: -8em;
}
#descricaoHotel{
    position: relative;
    float: left;
    top:6em;
    left: -17em;
    font-style: italic;
    max-width: 400px;
}
#preco{
    position: relative;
    float: right;
    color: #017804;
    top:200px;
    margin-right: 1em;
    font-size: 30px;
}
#comprar{
    position: relative;
    float: right;;
    width:20%;
    height:40px;
    background-color:black;
    color:white;
    opacity:0.8;
/*    line-height:40px;*/
    text-align: center;
    font-size: 20px;
/*    margin:3px;*/
/*    display: inline-block;*/
    font-family: TheLightFont;
    font-weight: 700;
    top:230px;
    right: -100px;
}
#quadroQuartos
{
    position: absolute;
    width: 60.4em;
    height: auto;
    top: 31em;
    position: absolute;
    background-color:rgba(255, 226, 65, 0.6);
    left:13.5%;
    padding: 5px;
    padding-left: 20px;
    padding-bottom: 15px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 17px;
}
#quartos{
    position: relative;
    width: 13em;
    height: 8em;
    margin: 0 30px 0 30px;
    left: 70px;
    display: inline;
}