#menu {
    padding: 5px 10px;
}

#menu ul li { 
    display: inline; 
}
#menu ul,ul#menu ul {
	padding:0px;
	margin:0px;
	list-style:none;
}

#menu ul li a {
	padding: 5px 10px;
	display: inline-block;
    border: solid 1px black;
    border-radius: 7px;
    margin: 5px;
    font-family: cursive;
    font-size: 20px;
    color: #1E90FF;
    background-color: rgb(255, 255, 255,0.5);
    text-shadow: 0px 0px 2px #1E90FF;
	text-decoration: none;
}

#menu ul li a:hover {
	background-color:#FFD700;
	color: #6D6D6D;
	border:1px ridge #ffa500;
}

.logo{
    width: 20%;
    position: absolute;
    left: -40px;
    top: -50px;
}
    .search-box{
    width: 40px;
    height: 40px;
    position:relative;
    left:24%;
    top:-200px;
}
.search-text{
    
    font-family:sans-serif;
    font-size: 60px;
}

/* PARTE DO SITE TEMPLATE*/
@-webkit-keyframes colorSwapper {
  0% {
    background-color: #955fad;
    background-image: -webkit-linear-gradient(#955fad, #da5b45);
    background-image: linear-gradient(#955fad, #da5b45);
  }
  50% {
    background-color: #da5b45;
    background-image: -webkit-linear-gradient(#da5b45, #955fad);
    background-image: linear-gradient(#da5b45, #955fad);
  }
  100% {
    background-color: #955fad;
    background-image: -webkit-linear-gradient(#955fad, #da5b45);
    background-image: linear-gradient(#955fad, #da5b45);
  }
}
@-moz-keyframes colorSwapper {
  0% {
    background-color: #955fad;
    background-image: -webkit-linear-gradient(#955fad, #da5b45);
    background-image: linear-gradient(#955fad, #da5b45);
  }
  50% {
    background-color: #da5b45;
    background-image: -webkit-linear-gradient(#da5b45, #955fad);
    background-image: linear-gradient(#da5b45, #955fad);
  }
  100% {
    background-color: #955fad;
    background-image: -webkit-linear-gradient(#955fad, #da5b45);
    background-image: linear-gradient(#955fad, #da5b45);
  }
}
@keyframes colorSwapper {
  0% {
    background-color: #955fad;
    background-image: -webkit-linear-gradient(#955fad, #da5b45);
    background-image: linear-gradient(#955fad, #da5b45);
  }
  50% {
    background-color: #da5b45;
    background-image: -webkit-linear-gradient(#da5b45, #955fad);
    background-image: linear-gradient(#da5b45, #955fad);
  }
  100% {
    background-color: #955fad;
    background-image: -webkit-linear-gradient(#955fad, #da5b45);
    background-image: linear-gradient(#955fad, #da5b45);
  }
}
@-webkit-keyframes solidColor {
  0% {
    background-color: #955fad;
  }
  50% {
    background-color: #da5b45;
  }
  100% {
    background-color: #955fad;
  }
}
@-moz-keyframes solidColor {
  0% {
    background-color: #955fad;
  }
  50% {
    background-color: #da5b45;
  }
  100% {
    background-color: #955fad;
  }
}
@keyframes solidColor {
  0% {
    background-color: #955fad;
  }
  50% {
    background-color: #da5b45;
  }
  100% {
    background-color: #955fad;
  }
}
html, body {
  height: 100%;
}

body {
  background: rgb(0,0,0,0.5);
  color: #222;
}

.skewed-bg {
  background: #00B285;
  box-shadow: 0px 0px 25px black;
  padding: 200px 0;
  -webkit-transform: skew(0deg, -10deg);
  -moz-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -200px;
  
}
.skewed-bg .content {
  -webkit-transform: skew(0deg, 10deg);
  -moz-transform: skew(0deg, 10deg);
  -ms-transform: skew(0deg, 10deg);
  -o-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  text-align: center;
}
.skewed-bg .content .title {
  padding-top: 10px;
  font-weight: normal;
}
.skewed-bg .content .text {
  width: 60%;
  margin: 25px auto;
  color: #ccfff2;
}

.footer {
  padding-top: 300px;
}
.footer .credits {
  text-align: center;
  color: #666;
}
.footer .credits .link {
  color: #00B285;
  text-decoration: none;
}


/* PARTE DO CODIGO TEMPLATE*/

